{#{ attach_library('av_p_teaser/av_p_teaser') }#}
{% block paragraph %}
    {% block content %}
      <div{{ attributes.addClass('ph-block','cssf--d_block', 'cssf--w100p') }}>
         {{ content }}
      </div>
    {% endblock %}
{% endblock paragraph %}





