{#
/**
 * @file
 * Display Suite reset template.
 *
 * Available variables:
 * - ds_content: content of the ds_content region
 */
#}
<div class="container">
   <div class="tile-block row">
      {{ ds_content }}
   </div>
</div>
