body  {
   margin: var(--p-margin);
   font-family: var(--p-font-family);
   font-style: var(--p-font-style);
   font-variant: var(--p-font-variant);
   font-weight: var(--p-font-weight);
   color: var(--p-color);
   font-size: var(--p-font-size);
   line-height: var(--p-line-height);
   text-align: var(--p-text-align);
   letter-spacing: var(--p-letter-spacing);
}

/*:root {
   
   --header-nav-font-family: var(--font-family-1);
   --header-nav-font-size: 1.125rem;
   --header-nav-line-height: 1.125rem;
   --header-nav-text-transform: uppercase;
   --header-nav-color: var(--color-4);

   --footer-nav-font-family: var(--font-family-1);
   --footer-nav-font-size: 1.125rem;
   --footer-nav-line-height: 1.125rem;
   --footer-nav-color: var(--color-6);
   --footer-nav-hover-color: var(--color-2);

   --teaser-text-font-family: var(--font-family-1);
   --teaser-text-font-style: var(--font-style-1);
   --teaser-text-font-weight: var(--font-weight-1);
   --teaser-text-font-size: 1.5rem;
   --teaser-text-line-height: 2.25rem;
   --teaser-text-color: var(--color-2);
}

.page-header nav {
   font-family: var(--header-nav-font-family);
   font-size: var(--header-nav-font-size);
   line-height: var(--header-nav-line-height);
   text-transform: var(--header-nav-text-transform);
   color: var(--header-nav-color);
}

.page-header nav a {
   color: inherit;
}

.page-footer nav {
   font-family: var(--footer-nav-font-family);
   font-size: var(--footer-nav-font-size);
   line-height: var(--footer-nav-line-height);
   color: var(--footer-nav-color);
}

.page-footer nav a {
   color: inherit;
}

.page-footer nav a:hover,
.page-footer nav a:focus {
   color: var(--footer-nav-hover-color);
}

.teaser-text {
   font-family: var(--teaser-text-font-family);
   font-style: var(--teaser-text-font-style);
   font-weight: var(--teaser-text-font-weight);
   font-size: var(--teaser-text-font-size);
   line-height: var(--teaser-text-line-height);
   color: var(--teaser-text-color);
}
*/
