body  {
   margin: 0;
   font-family: var(--p-font-family);
   font-style: var(--p-font-style);
   font-variant: var(--p-font-variant);
   font-weight: var(--p-font-weight);
   color: var(--p-color);
   font-size: var(--p-font-size);
   line-height: var(--p-line-height);
   text-align: var(--p-text-align);
   letter-spacing: var(--p-letter-spacing);
}


a.toggle-mobile-menu {
   --a-display: inline-flex;
   --a-width: var(--size-48);
   --a-height: var(--size-48);
   --a-min-height: unset;
   --a-justify-content: center;
   --a-align-items: center;
   --a-align-content: unset;
   --a-font-family: inherit;
   --a-font-style: inherit;
   --a-font-weight: inherit;
   --a-font-size: inherit;
   --a-line-height: inherit;
   --a-color: var(--color-2);
   --a-text-decoration: none;
   --a-background: var(--color-8);
   --a-border: none;
   --a-border-radius: 2rem;
   --a-border-bottom: none;
   --a-text-underline-position: under;
   --a-text-decoration-thickness: auto;
   --a-padding: 0;
   --a-margin: 0;
   --a-transition: 0s ease;
   --a-text-transform: none;
   --a-transform: none;
   --a-letter-spacing: normal;
   --a-vertical-align: top;
   
   --a-hover-text-decoration: none;
   --a-hover-text-underline-position: under;
   --a-hover-text-decoration-thickness: auto;
   --a-hover-color: var(--color-2);
   --a-hover-background: var(--color-9);
   --a-hover-border: none;
   --a-hover-border-radius: 2rem;
   --a-hover-border-bottom: none;
   --a-hover-text-transform: none;
   --a-hover-transform: none;

   --a-focus-text-decoration: var(--a-hover-text-decoration);
   --a-focus-text-underline-position: var(--a-hover-text-underline-position);
   --a-focus-text-decoration-thickness: var(--a-hover-text-decoration-thickness);
   --a-focus-color: var(--a-hover-color);
   --a-focus-background: var(--a-hover-background);
   --a-focus-border: var(--a-hover-border);
   --a-focus-border-radius: var(--a-hover-border-radius);
   --a-focus-border-bottom: var(--a-hover-border-bottom);
   --a-focus-text-transform: var(--a-hover-text-transform);
   --a-focus-transform: var(--a-hover-transform);
   
}
@media (min-width: 768px)
   {
      a.toggle-mobile-menu {       

         --a-width: var(--size-64);
         --a-height: var(--size-64);
      }
   }
   
.splide {
   --ul-margin: 0;
   --ul-padding: 0;
   --ul-li-margin: 0;
   --ul-li-margin-left: 0;
   --ul-li-padding: 0;
   --ul-li-padding-left: 0;
   --ul-li-font-family: var(--p-font-family);
   --ul-li-font-style: var(--p-font-style);
   --ul-li-font-variant: var(--p-font-variant);
   --ul-li-font-weight: var(--p-font-weight);
   --ul-li-color: var(--p-color);
   --ul-li-font-size: var(--p-font-size);
   --ul-li-line-height: var(--p-line-height);
   --ul-li-letter-spacing: var(--p-letter-spacing);
   --ul-li-marker-content: "";
   --ul-li-marker-color: var(--color-4);
   --ul-li-marker-font-family: var(--font-family-fa);
   --ul-li-marker-font-style: var(--font-style-fa);
   --ul-li-marker-font-weight: var(--font-weight-fa-light);
   --ul-li-marker-font-variant: var(--font-variant-fa);
   --ul-li-marker-font-size: 1em;
   --ul-li-marker-line-height: 1.2;
}

.mm-menu {
   --mm-color-background: var(--color-10);
   --mm-color-border: var(--color-x);
   --mm-color-icon: var(--color-9);
   --mm-color-text: var(--color-9);
   --mm-max-size: 100%;
   --mm-min-size: 100%;
   --mm-lineheight: var(--clamp-1400-size-20);
   --mm-iconbar-size: var(--clamp-1400-size-55);
   --mm-color-background-highlight: none;
   
   font-family: var(--font-family-1);
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   font-size: var(--clamp-1400-size-30);
   line-height: 1;

}

@media (min-width: 768px) {
      .mm-menu {
         --mm-min-size: 240px;
         --mm-max-size: 520px;

      }
   }
   

.mm-menu .mm-listitem.append {
   font-family: var(--font-family-1);
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   font-size: var(--clamp-1400-size-18);
   line-height: 1;
}
.mm-menu a.menu-first-close, 
.mm-menu a.menu-first-close:active, 
.mm-menu a.menu-first-close:hover, 
.mm-menu a.menu-first-close:link, 
.mm-menu a.menu-first-close:visited {
   color: var(--color-8);
}
.page-copyright {
   --a-display: inline;
   --a-width: unset;
   --a-height: unset;
   --a-min-height: unset;
   --a-justify-content: unset;
   --a-align-items: unset;
   --a-align-content: unset;
   --a-font-family: var(--font-family-1);
   --a-font-style: var(--font-style-1);
   --a-font-weight: var(--font-weight-1);
   --a-font-size: var(--size-18);
   --a-line-height: 1.5;
   --a-color: var(--color-5);
   --a-text-decoration: none;
   --a-background: none;
   --a-border: none;
   --a-border-radius: 0;
   --a-border-bottom: none;
   --a-text-underline-position: under;
   --a-text-decoration-thickness: auto;
   --a-padding: 0;
   --a-margin: 0;
   --a-transition: 0s ease;
   --a-text-transform: none;
   --a-transform: none;
   --a-letter-spacing: normal;
   --a-vertical-align: top;
   
   --a-hover-text-decoration: none;
   --a-hover-text-underline-position: under;
   --a-hover-text-decoration-thickness: auto;
   --a-hover-color: var(--color-6);
   --a-hover-background: none;
   --a-hover-border: none;
   --a-hover-border-radius: 0;
   --a-hover-border-bottom: none;
   --a-hover-text-transform: none;
   --a-hover-transform: none;

   --a-focus-text-decoration: var(--a-hover-text-decoration);
   --a-focus-text-underline-position: var(--a-hover-text-underline-position);
   --a-focus-text-decoration-thickness: var(--a-hover-text-decoration-thickness);
   --a-focus-color: var(--a-hover-color);
   --a-focus-background: var(--a-hover-background);
   --a-focus-border: var(--a-hover-border);
   --a-focus-border-radius: var(--a-hover-border-radius);
   --a-focus-border-bottom: var(--a-hover-border-bottom);
   --a-focus-text-transform: var(--a-hover-text-transform);
   --a-focus-transform: var(--a-hover-transform);
}