* {
   box-sizing: border-box;
}

body {
   font-family: var(--font-family-2);
   font-style: var(--font-style-2);
   font-weight: var(--font-weight-2);
   font-size: 1rem;
   color: var(--color-9);
}

h1 {
   font-family: 'Barlow', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 3rem;
   line-height: 3.5rem;
   color: var(--color-4);
   margin: 0 0 2.25rem 0;
   padding: 0;
}

h2,
h5 {
   font-family: var(--font-family-1);
   font-style: var(--font-style-1);
   font-weight: var(--font-weight-1);
   font-size: 1.875rem;
   line-height: 2.25rem;
   color: var(--color-4);
   margin: 0 0 2.25rem 0;
   padding: 0;
}

h2 {
   margin-top: 2.25rem;
}

p,
li {
   font-family: var(--font-family-2);
   font-style: var(--font-style-2);
   font-weight: var(--font-weight-2);
   font-size: 1.3125rem;
   line-height: 2.25rem;
   color: var(--color-9);
}

p {
   margin: 2.25rem 0;
   padding: 0;
}

a {
   color: var(--color-4);
   text-decoration: none;
}

a:hover,
a:focus {
   color: var(--color-2);
   text-decoration: none;
}

strong {
   font-family: var(--font-family-1);
   font-style: var(--font-style-1);
   font-weight: var(--font-weight-1);
}

ul,
ol {
   margin: var(--default-text-margin);
   padding: 0;
}

ul li,
ol li {
   margin: 0.5rem 0;
}
