.glossary {
   --h2-font-size: var(--clamp-1400-size-224);
}

.teaser {
   --p-font-family: var(--font-family-1);
   --p-font-style: var(--font-style-1);
   --p-font-variant: normal;
   --p-font-weight: var(--font-weight-1);
   --p-color: var(--color-9);
   --p-font-size: var(--clamp-1400-size-21);
}
h1.cssf strong,
.cssf h1 strong,
h2.cssf strong,
.cssf h2 strong,
h3.cssf strong,
.cssf h3 strong,
h4.cssf strong,
.cssf h4 strong,
h5.cssf strong,
.cssf h5 strong,
h6.cssf strong,
.cssf h6 strong {
   --strong-font-family: 'Barlow', sans-serif;
   --strong-font-style: normal;
   --strong-font-weight: 800;
}

.ph-teaser .inner-wrapper  {
   background-color: var(--color-10);
}
.ph-teaser .content {
   padding: var(--size-20);
}

.ph-teaser .link {
   font-family: var(--form-button-font-family);
   font-style: var(--form-button-font-style);
   font-weight: var(--form-button-font-weight);
   color: var(--form-button-color);
   background: var(--form-button-background);
   font-size: var(--form-button-font-size);
   line-height: var(--form-button-line-height);
   text-transform: var(--form-button-text-transform);
   text-align: var(--form-button-text-align);
   letter-spacing: var(--form-button-letter-spacing);
   padding: var(--form-button-padding);
   margin: var(--form-button-margin);
   border: var(--form-button-border);
   border-radius: var(--form-button-border-radius);
   width: var(--form-button-width);
   clip-path: var(--form-button-clip-path);
   outline: var(--form-button-outline);
   transition: var(--form-button-transition);
   box-shadow: var(--form-button-box-shadow);
   transform: var(--form-button-transform);
}
.ph-teaser:hover .link,
.ph-teaser:focus .link {
   color: var(--form-button-hover-color);
   background: var(--form-button-hover-background);
}
.ph-teaser .text-link {
   text-align: right;
   padding: var(--size-20);
}
.ph-teaser .title-wrapper {
   font-family: var(--h2-font-family);
   font-style: var(--h2-font-style);
   font-weight: var(--h2-font-weight);
   color: var(--h2-color);
   margin: var(--h2-margin);
   margin-top: 0rem;
   font-size: var(--h2-font-size);
   line-height: var(--h2-line-height);
   letter-spacing: var(--h2-letter-spacing);
   text-transform: var(--h2-text-transform);
   text-align: var(--h2-text-align);

}

.av-share-footer {
   --a-display: inline;
   --a-width: unset;
   --a-height: unset;
   --a-min-height: unset;
   --a-justify-content: unset;
   --a-align-items: unset;
   --a-align-content: unset;
   --a-font-family: inherit;
   --a-font-style: inherit;
   --a-font-weight: inherit;
   --a-font-size: inherit;
   --a-line-height: inherit;
   --a-color: var(--color-2);
   --a-text-decoration: none;
   --a-background: var(--color-5);
   --a-border: none;
   --a-border-radius: 100%;
   --a-border-bottom: none;
   --a-text-underline-position: under;
   --a-text-decoration-thickness: auto;
   --a-padding: var(--size-10);
   --a-margin: 0 0.5rem 0 0;
   --a-transition: 0s ease;
   --a-text-transform: none;
   --a-transform: none;
   --a-letter-spacing: normal;
   --a-vertical-align: top;
   
   --a-hover-text-decoration: none;
   --a-hover-text-underline-position: under;
   --a-hover-text-decoration-thickness: auto;
   --a-hover-color: var(--color-2);
   --a-hover-background: var(--color-6);
   --a-hover-border: none;
   --a-hover-border-radius: 100%;
   --a-hover-border-bottom: none;
   --a-hover-text-transform: none;
   --a-hover-transform: none;

   --a-focus-text-decoration: var(--a-hover-text-decoration);
   --a-focus-text-underline-position: var(--a-hover-text-underline-position);
   --a-focus-text-decoration-thickness: var(--a-hover-text-decoration-thickness);
   --a-focus-color: var(--a-hover-color);
   --a-focus-background: var(--a-hover-background);
   --a-focus-border: var(--a-hover-border);
   --a-focus-border-radius: var(--a-hover-border-radius);
   --a-focus-border-bottom: var(--a-hover-border-bottom);
   --a-focus-text-transform: var(--a-hover-text-transform);
   --a-focus-transform: var(--a-hover-transform);

}

