{#
/**
 * @file
 * Display Suite reset template.
 *
 * Available variables:
 * - ds_content: content of the ds_content region
 */
#}
<div class="container mfp-field mfp-all-items">
   <div class="row">
      {{ ds_content }}
   </div>
</div>
